<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{title}}</title>
<meta name="description" content="{{description}}" />
<meta name="theme-color" content="#111111" />
{{#if url}}
  <link rel="canonical" href="{{url}}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{title}}" />
  <meta property="og:description" content="{{description}}" />
  <meta property="og:url" content="{{url}}" />
<<<<<<< HEAD
  <meta
    property="og:image"
    content="https://img-cfr2.chatongxue.top/202504272356918.webp"
  />
=======
  <meta property="og:image" content="{{ogImage}}" />
>>>>>>> 5814db1 (rewrite:通通用vite重写，详见usage)
  <meta name="twitter:card" content="summary_large_image" />
{{/if}}
<link
  rel="preconnect"
  href="https://google-fonts.mirrors.sjtug.sjtu.edu.cn"
  crossorigin
/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="preconnect" href="https://img-cfr2.chatongxue.top" crossorigin />
<link
  rel="preload"
<<<<<<< HEAD
  href="https://img-cfr2.chatongxue.top/202504272356918.webp"
=======
  href="{{ogImage}}"
>>>>>>> 5814db1 (rewrite:通通用vite重写，详见usage)
  as="image"
  type="image/webp"
/>
<link
  rel="stylesheet"
  href="https://google-fonts.mirrors.sjtug.sjtu.edu.cn/css2?family=Noto+Sans+SC:wght@400;700;900&display=swap"
/>
